body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.container{
    width: 50%;
    height: inherit;
    background-size: cover;
}

.first{
border: 1px solid plum;
background-image: url('australia.jpg');
width: 50%;
}

.second{
    border: 1px solid teal;
    background-image: url('hawaii.jpg');
    width: 50%;
}

.active{
    width: 80%;
    transition: all 1s;
}

.notactive{
    width: 20%;
    transition: all 1s;
}