body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(76, 165, 76);
}

h1{
    color: white;
    font-size: larger;
    font-weight: 500;
    width: 500px;
    text-align: center;
}

#textArea{
    height: 75px;
    width: 500px;
    padding: 10px;
    font-size: large;
}

h2{
    height: 20px;
    font-size: medium;
    font-weight: 300;
    background-color: orange;
    border-radius: 9999px;
    padding: 10px 25px;
}

#choiceArea{
    color: white;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

